@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
CSS HEX
--primary: #01161E;
--secondary: #124559;
--light-blue: #598392;
--ash-gray: #AEC3b0;
--beige: #Eff6E0; 
--logo: #FF7373;
*/

@layer base {
  body {
   
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #EE9B00,
    #EE9B00 50px,
    #CA6702 50px,
    #CA6702 100px
  )!important;
}