@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
CSS HEX
--primary: #01161E;
--secondary: #124559;
--light-text: #598392;
--secondary-text: #AEC3b0;
--primary-text: #Eff6E0; 
--logo: #FF7373;
*/

@layer base {
  body {
   
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #D00000,
    #D00000 50px,
    #FFBA08 50px,
    #FFBA08 100px,
    #136F63 100px,
    #136F63 150px,
    #3F88C5 150px,
    #3F88C5 200px
  )!important;
}